
:root {
    --color-primario: #f2e094;
    --color-secundario: #a19218;
    --color-terciario: #be5944;
    --color-fondo: #fef9ec;
    --color-oscuro: #1b3d2f;
    --color-oscuro-2: #4b4737;
}
/* Aseguramos que el body ocupe toda la altura de la ventana */
html, body {
    height: 100%;
}

/* Usamos flexbox para distribuir el contenido */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-fondo);
    color: #333;
}
.navbar{
    padding: 0 10px;
}
/* Modo oscuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.card.dark-mode{
    background-color: #333 !important;
    border-color: #fff;
    .card-body{
        p{
            color: #fff;
        }
    }
}
.accordion.dark-mode{
    .accordion-button{
        background-color: #333;
        border-color: #fff;
        color: #fff;
    }
    .accordion-body{
        background-color: #4b4a4a;
        border-color: #fff;
        color: #fff;
    }

}
.accordion-button:focus{
    box-shadow: none;
}
.modal-content{
    p, h5{
        color: #333;
    }
    .btn:first-child{
        font-size: 16px;
    }
}
.navbar.dark-mode {
    background-color: #1f1f1f;
    a{
        color: #fff;
    }
    i{
        color: #fff;
    }
    #navbarNav{
        border-top: 2px solid var(--color-terciario);
        border-bottom: 2px solid var(--color-terciario);
    }
    .navbar-toggler{
        background-color: var(--color-terciario);
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
}

footer.dark-mode {
    background-color: #1f1f1f;
    color: #fff;
    p, span{
        color: #fff;
    }
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: transparent;
    color: var(--color-terciario); 
}
.btn:hover{
    background-color: transparent;
    color: var(--color-terciario); 
}
.btn-outline-secondary{
    margin-left: 0!important;
    color: #333;
    border: none;
    font-size: 18px;
}
/* El main ocupa todo el espacio disponible */
main {
    flex-grow: 1;
    
}

/* Estilo para el header y el logo */
.navbar-brand {
    flex-grow: 1;
    text-align: left;
}
#navbarNav{
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}
.navbar-nav {
    margin-left: auto;
}
nav{
    li{
        padding-right: 15px;
    }
}
.nav-item a:hover{
    color: var(--color-terciario);
}
h1{
    color: var(--color-secundario);
}
h6{
    color: var(--color-terciario);
}
.active{
    font-weight: bold;
    color: var(--color-terciario) !important;
}
.justify{
    text-align: justify;
}
.center{
    text-align: center;
}
.btn-primary {
    background-color: var(--color-primario)!important;
    border-color: var(--color-secundario)!important;
    color: var(--color-oscuro-2)!important;
}
.resaltar{
    color: var(--color-terciario);
}

.btn-primary:hover, .btn-primary:active, .btn:first-child:active {
    background-color: var(--color-terciario)!important;
    border-color: var(--color-primario)!important;
    color: var(--color-fondo)!important;
}
/* Asegurarse de que el logo se mantenga centrado en pantallas pequeñas */
@media (max-width: 768px) {
    .navbar-brand {
        text-align: center;
        flex-grow: 0;
    }
}

/* Estilo para el footer */
footer {
    background-color: var(--color-primario);
    color: #333;
    padding: 1rem;
    text-align: center;
}
footer p {
    color: #333;
    margin-bottom: 0;
    span{
    color: #333;
    padding-left: 15px;
    }
}

footer img {
    padding: 0.5em;
    max-width: 220px;
}
footer br{
    display: none;
}
header {
    background-color: var(--color-primario);
    color: var(--color-oscuro);
}
.logo-img {
    width: auto;
    height: 75px;
}
.img-fluid {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.boton-home{
    margin-bottom: 1em;
    background-color: #2B3123;
    color: #FFF;
    border: 0;
    border-radius: 4px;
    padding: 5px 15px;
}